/* CSS declarations go here */
body, html, div.container, .climber { height: 100%; }

div.container {
  width: 1024px;
  height: 976px;
  text-align: center;
  background: url('/images/background.png');
}

div.container .climber {
  width: 50%;
  float: left;
}

div.container .climber p {
  user-select: none;
}

div.container .climber.derek {
  /*background-color: blue;*/
}

div.container .climber.stirling {
  /*background-color: red;*/
}

div.container .climber .avatar {
  position: absolute;
}

div.container .climber.derek .avatar {
  left: 24%;
}

div.container .climber.stirling .avatar {
  left: 74%;
}
