/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
html {
  -webkit-text-size-adjust: none;
}
body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}



a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

p {
  margin: 10px;
}
ul {
  margin: 10px 10px 0 45px;
}
li {
  padding-bottom: 10px;
}
body {
  margin: 0;
  padding: 0;
  position: relative;
  color: #707070;
  background-color: #363026;
  font-family: 'Quicksand', sans-serif;
}

h1,h2,h3,h4,h5 {
  margin: 0;
}

header {
  width: 585px;
  margin: 0 auto;
  text-align: center;
}
header hgroup {
  position: relative;
  z-index: 1;
}
header p,
.footer p {
  line-height: 1.3em;
}

h1 {
  background: url(/images/title.png) no-repeat;
  background-size: 289px 66px;
  width: 289px;
  height: 66px;
  margin: 0 auto;
  position: relative;
  top: 10px;
  z-index: 1;
}

h1 span {
  display: none;
}

h2 {
  background-color: #2eb2bd;
  color: #fff;
  font-size: 42px;
}

.snow {
  background-color: #c6c6c6;
  background-image: url(/images/snow-b-1.png), url(/images/snow-b-2.png), url(/images/snow-b-3.png);
  background-repeat: repeat;
  animation: snow 15s linear infinite;
  -ms-animation: snow 15s linear infinite;
  -moz-animation: snow 15s linear infinite;
  -webkit-animation: snow 5s linear infinite;
  min-width: 1100px;
}

.wrapper {
  padding-top: 20px;
  position: relative;
}

.charity-name {
  display: block;
  height: 2.8em;
}

.charity-name a {
  color: #991c20;
}

section {
  overflow: hidden;
}

.brother {
  width: 50%;
  float: left;
  color: #991c20;
  position: relative;
  height: 610px;
}

.brother ::selection {
  background-color: transparent;
}

.avatar {
  position: absolute;
  z-index: 999;
}

.details {
  text-align: center;
  width: 250px;
}

.details p {
  color: #991c20;
  font-size: 42px;
  margin: 0;
}

.details  p {
  font-family: 'Mr De Haviland', cursive;
}

.stirling .details {
  float: right;
}

.brother h3 {
  font-size: 24px;
}

.brother h4 {
  font-size: 18px;
}

h5 {
  color: #707070;
  font-size: 18px;
  margin: 10px 0 5px;
}

.main {
  height: 725px;
  display: block;
  position: relative;
  background: url(/images/peak.png) no-repeat center 75px;
  margin: 0 auto;
  max-width:1220px;
}

footer.bank {
  height: 118px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
  overflow: visible;
}

footer.bank img {
  position: absolute; bottom: 0;
  left: 35%;
}

button {
  outline: none;
  cursor: pointer;
}
footer {
  background-color: #363026;
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  font-size: .75em;
}
footer p {
  color: #fff;
  /*font-size: 18px;*/
  margin-left: 30px;
}

footer a {
  color: #2eb2bd;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

/* Ribbon */
h2 {
  font-size: 42px !important;

  width: 500px;
  position: relative;
  background: #2eb2bd;
  color: #fff;
  text-align: center;
  padding: 11px 0; /* Adjust to suit */
  margin: 0  auto; /* Based on 24px vertical rhythm. 48px bottom margin - normally 24 but the ribbon 'graphics' take up 24px themselves so we double it. */
}

h2:before, h2:after {
  content: "";
  position: absolute;
  display: block;
  bottom: 10px;
  border: 25px solid #26939c;
  z-index: -1;
}

h2:before {
  left: -45px;
  border-right-width: 20px;
  border-left-color: transparent;
}

h2:after {
  right: -45px;
  border-left-width: 20px;
  border-right-color: transparent;
}

.brother h3 span{
  display: inline-block;
  height: 24px;
  width: 50px;

  top: 2px;
  position: relative;
  top: 3px;
}

.derek h3 span {
  background: url(/images/derek-bg.png) no-repeat 0 3px;
}

.stirling h3 span {
  background: url(/images/stirling-bg.png) no-repeat 0 3px;
}

.brother h3 span.tr {
  background-position: -111px 3px;
}



.col-half {
  width: 50%;
  float: left;
}

.clear-left {
  clear: left;
}

.social iframe {
  vertical-align: middle;
}

.social .fb-share-button {
  top: 1px;
}

.sorry {
  display: none;
}
@keyframes snow{
  from { background-position: 0px 0px, 0px 0px, 0px 0px; }
  to { background-position: 500px 1000px, 400px 400px, 300px 300px; }
}
@-webkit-keyframes snow{
  from { background-position: 0px 0px, 0px 0px, 0px 0px; }
  to { background-position: 500px 1000px, 400px 400px, 300px 300px; }
}
@-ms-keyframes snow{
  from { background-position: 0px 0px, 0px 0px, 0px 0px; }
  to { background-position: 500px 1000px, 400px 400px, 300px 300px; }
}
@-moz-keyframes snow{
  from { background-position: 0px 0px, 0px 0px, 0px 0px; }
  to { background-position: 500px 1000px, 400px 400px, 300px 300px; }
}


@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
  .full {
    display: none;
  }
  .sorry {
    display: block;
  }
  header {
    width: 88%;
  }
  h1 {
    width: 257px;
    height: 58px;
    background-size: 257px 58px;
  }
  header h2 {
    width: 89%;
    font-size: 28px !important;
  }
  /*.sorry header .msg*/
  .msg {
    border-radius: 5px;
    background-color: #fff;
    padding: 3px;
    margin-top: 10px;
  }
  /*.sorry header p*/
  .msg p {
    border-radius: 5px;
    border: 4px solid #dcdcdc;
    padding: 10px 20px;
  }
  .bros {
    background: url(../images/mobile-snow.jpg) 0 bottom repeat-x;
  }
  figure {
    width: 88%;
    margin: 0 auto;
  }
  figure img {
    width: 100%;
  }
.sorry .footer {
  /*font-size: 14px;*/
}
  .footer p,
  .footer ul li a {
    font-size: 14px;
  }
  .snow {
    min-width: 320px;
  }
  h2:before, h2:after {
  content: "";
  position: absolute;
  display: block;
  bottom: 10px;
  border: 15px solid #26939c;
  z-index: -1;
}

h2:before {
  left: -25px;
  border-right-width: 20px;
  border-left-color: transparent;
}

h2:after {
  right: -25px;
  border-left-width: 20px;
  border-right-color: transparent;
}
}
