/* CSS declarations go here */
body, html, div.container, .climber { height: 100%; }

div.container {
  width: 100%;
  text-align: center;
}

div.container .climber {
  width: 50%;
  float: left;
}

div.container .climber.derek {
  background-color: blue;
}

div.container .climber.stirling {
  background-color: red;
}
